<nb-card>
  <nb-card-header>
    So what's About me?
  </nb-card-header>
  <nb-card-body>
    <div class="detail font-w-light">

      <p>
        I'm Abhijeet Gandhi, a dynamic IT professional + full stack developer + loves <strong>challenging</strong>
        assignments and
        <strong>leadership</strong> challenges + loves <strong>cycling</strong> and commute to work by my bike,
        <strong>everyday</strong>.
      </p>
      <p>
        I work in Pune, India for <strong>Deployment and Monitoring Solutions</strong> Team at <a
        href="https://www.varian.com/" target="_blank">Varian Medical Systems</a>. I code, learn, listen, cycle, mentor
        - usually not in that order. I'm excited about IoT, cloud, community, open source, entrepreneurship.
      </p>
      <h4>EDUCATION</h4>
      <p>
        Bachelor of engineering in Computer Science, from <strong>Pune University</strong>, in 2011.
      </p>
      <h4>BACKGROUND</h4>
      <p>
        Started my career righter after the college, in 2011. Worked as a Software Engineer for small firm, till 2013.
        Worked as a Senior Software Engineer with <a
        href="https://www.kpit.com/" target="_blank">KPIT</a>, till 2016.
        Since then, working as a <strong>Engineering Lead</strong> with <a
        href="https://www.varian.com/" target="_blank">Varian Medical Systems</a>.
      </p>
      <h4>CURRENT OBSESSIONS</h4>
      <p>
        <strong>React + Redux</strong>, <strong>Azure Functions</strong>
      </p>
      <h4>BEEN THERE, DONE THAT</h4>
      <p>
        Compute Intensive Desktop App, Data Intensive Desktop App.
      </p>
      <p>
        Real-Time GenSet Monitoring/Management Android+iOS App, SCM - Mobile App.
      </p>
      <p>
        Remote Monitoring Web App, Real-Time Monitoring Web App, Multi-tenant Web App.
      </p>
      <p>
        Security for Mobile, Web and Desktop Apps. CI-CD for almost all above apps.
      </p>
    </div>
    <!--<p>-->
    <!--<strong>Web</strong> - Angular+, ASP.NET MVC, ASP.NET Core, HTML5, CSS, SCSS, Postman, <strong>ngx-admin</strong>.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Desktop</strong> WPF, Windows Store Apps, Electron, XAML, MVVM, CaliburnMicro.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Mobile</strong> - XAMARIN Forms, <strong>XAMARIN Native</strong>, Android Native, MVVMCross.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Back-End</strong> - ASP.NET Web API, OWIN, Topshelf.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Data-Store</strong> - SQL, MongoDb, Azure Cosmos, Redis, SQLite.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Development Strategies</strong> - TDD, EDD, BDD, DDD.-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>Platforms</strong> - Windows, Linux, Cloud (now a days, just cloud - <strong>Azure</strong>).-->
    <!--</p>-->
    <!--<p>-->
    <!--<strong>TOO MUCH INFORMATION</strong> - IoC - SimpleInjector, EntityFramework - <strong>Code First</strong>, TFS,-->
    <!--SVN,-->
    <!--<strong>GIT</strong>, <strong>C#</strong>, Java, <strong>JavaScript</strong>, TypeScript, Webpack, SonarQube,-->
    <!--<strong>NCrunch</strong>, <a-->
    <!--href="https://www.websequencediagrams.com/">Web Sequence-->
    <!--Diagram</a>, Jenkins, <strong>TeamCity</strong>, NodeJs, WebStorm, Visual Studio 2017, Azure Application Insight,-->
    <!--PowerBI, Azure Cloud Services, Azure Event Hub, Azure Service Bus, Azure IoT Hub, Azure Stream Analytics, SignalR,-->
    <!--OAuth, Okta, Azure SAS Token.-->
    <!--</p>-->
    <strong>That's me, today. I'll be different tomorrow, hopefully better.</strong>
  </nb-card-body>
</nb-card>
