<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-lg-12">
    <ngx-about-me></ngx-about-me>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Daily Life</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie [skill]="dailyLife"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Passion</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie [skill]="passion"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Languages</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar [skill]="languages"></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Frameworks</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar [skill]="frameworks"></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Competencies</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar [skill]="competencies"></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div>
